@model COMP2139_Assignment1.Models.Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<!-- TODO: Add form to add new product -->

<form asp-action="AddProduct" method="POST">
    <div class="productDetail">
        <label for="ProductName">Product Name</label>
        <input type="text" id="ProductName" name="ProductName" required/>
    </div>
    <div class="productDetail">
        <label for="Price">Price</label>
        <!-- TODO: confirm, initial price required?  -->
        <input type="number" id="Price" name="Price" required/>
    </div>
    <div class="productDetail">
        <label for="Category">Category</label>
        <!-- TODO: confirm, initial price required?  -->
        <input type="number" id="Category" name="Category" required/>
    </div>
    <div class="productDetail">
        <label for="Quantity">Quantity</label>
        <!-- TODO: confirm, initial price required?  -->
        <input type="number" id="Quantity" name="Quantity" required/>
    </div>

    <input type="submit">Add</input>

</form>