@model Inventory

@{
    ViewBag.Title = "Inventory";
    Layout = "_Layout";
}

<h2>Inventory</h2>

<section class="addProductForm">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
</section>
